*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

#title {
    display:flex
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  
